header .header-top {
  background-color: maroon;
  color: white;
  height: 80px;
  text-align: center;
}

body {
  margin: 0;
}

h1 {
  display: inline-block;
  text-align: center;
}
span {
  color: orange;
}

.header-menu {
 
  text-align: center;
}

.header-menu ul {
  margin-top: 0;
  margin-bottom: 0;
}

.header-menu li {
  width: 200px;
  line-height: 48px;
  text-align: center;
  background-color: white;
  display: inline-block;
  margin-right: 80px;
  
}

.header-menu li a {
  font-size: 20px;
  text-decoration: none;
  color: maroon;
  font-weight: bold;
  display: block;
}

.header-menu a:hover {
  opacity: .5;
}

/* ここから */

h1.contents {
  display: block;
  text-align: center;
  margin-bottom: 64px;
} 

main {
  margin-right: 10px;
  margin-left: 10px; 

}
main h1 {
  display: block;
  text-align: left;
  
}



main.container {
  display: block;
  width: 90%;
  margin: auto;

}
main img {
  width: 80%;
  height: 300px;
}

p {
  width: 80%;
  margin-bottom: 48px;
}
